@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Bilbo Swash Caps", cursive; */

}

body {
  /* background: #002538; */
  /* background: linear-gradient(to bottom right, #262627, #010102); */
  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
  /* background: radial-gradient(circle at -8.9% 51.2%, rgb(32, 17, 3) 0%, rgb(39, 21, 5) 15.9%, rgb(43, 31, 19) 15.9%, rgb(54, 51, 46) 24.4%, rgb(19, 30, 37) 24.5%, rgb(12, 19, 24) 66%); */
  background: #000;
}

nav {
  /* background: #011e2c; */
  /* background: linear-gradient(to bottom right, #262627, #010102); */
  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
  /* background: rgb(10, 26, 34); */
  /* background: linear-gradient(to bottom right, #17202e, #0b1f29); */
  background: #000000;
  border-bottom: 1px solid rgb(20, 20, 20);
}

body::before {
  display: block;
  content: "";
  height: 5rem;
}

.sect{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* border-radius: 32px; */
  margin: auto;
}

.usethis{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border-radius: 32px; */
  height: 5rem; 
  width: 5rem;
}

.tabs_card{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.forminput{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  border: none;
}

.forminput:focus{
  border: 3px solid #302f2f;
  outline: none !important;
  background: none;
  box-shadow: none !important;
}

.my-form{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border-radius: 32px; */
}

.blog-card{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border-radius: 32px; */
}

.project-card{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#social:hover {
  position: relative;
  bottom: 10px;
}

#navbar {
  transition: 0.8s;
}

#myname {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  width: fit-content;
  font-size: 2rem
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  padding: 0 250px;
  margin-top: 3rem;
}

.lanre{
  font-size: 1.1rem;
}

footer div{
  background: linear-gradient(
    135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* ......................... */

#about, #homepage {
  animation: 1s hero ease-in;
}

@keyframes hero {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;

  }

  .lanre{
    font-size: .9rem;
  }

  .cv-btn{
    margin-bottom: 5rem;
  }

  #myname{
    font-size: 1.5rem
  }

  #homepage{
    margin-top: 4rem !important;
  }

  h2.name{
    text-align: center;
  }

  .hr{
    display: none !important;
  }

  #edu{
    padding: 3.5px !important;
  }

  .ex{
    border: none !important;
  }
}

